/* purgecss start ignore */

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
}

#contact-button {
    min-width: 256px;
    justify-content: end;
}